* {
  box-sizing: border-box;
}

.loading-container {
  height: 100%;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 700px;

  .loading-content {
    min-height: 500px;
    width: 100%;
    background-color: darkblue;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .loading-animation-container {
    background-color: rgb(33, 37, 41);
    height: 30%;
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .loading-animation {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 5px solid white;
    border-right-color: rgb(33, 37, 41);
    animation: spin 1.5s infinite;

    &-clear {
      transform: rotate(280deg);
      font-size: 1.5em;
      position: relative;
      display: inline-block;
      top: -25px;
      left: 50%;
      background-color: black;
      color: black;
      border-radius: 50%;
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}