* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.loading-container {
  height: 100%;
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 700px;
}
.loading-container .loading-content {
  min-height: 500px;
  width: 100%;
  background-color: darkblue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.loading-container .loading-animation-container {
  background-color: rgb(33, 37, 41);
  height: 30%;
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.loading-container .loading-animation {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 5px solid white;
  border-right-color: rgb(33, 37, 41);
  -webkit-animation: spin 1.5s infinite;
          animation: spin 1.5s infinite;
}
.loading-container .loading-animation-clear {
  -webkit-transform: rotate(280deg);
          transform: rotate(280deg);
  font-size: 1.5em;
  position: relative;
  display: inline-block;
  top: -25px;
  left: 50%;
  background-color: black;
  color: black;
  border-radius: 50%;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}